* {
    font-family: sans-serif, 'Roboto';
    margin: 0;
    padding: 0;    
}
.logo {
    width: 200px;
    margin-top: 15px;
}
.wrapper, .button {
    background-color: #1f2937;
    color: white;
}
.button {
    margin-top: 12px;
}
.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 15px;
}
.hero,  .container{
    display: flex;
    justify-content: space-evenly;
}

.button:hover {
    background-color: #3882f6
}
.hero2 {
    width: 500px;
    margin-top: 15px;
}
.card {
    width: 500px;
    height: 300px;
}
.card1 {
    width: 300px;
}

.title {
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 12px;
}
.title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    padding: 15px;
}
.container1 {
    background-color: #e5e7eb;
    color:#1f2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quote-writer {
    font-size: 24px;
    font-style: normal;
    justify-content: flex-end;
    display: flex;
}
.sign-up {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 50px 90px;
    margin: 50px 90px;
    background-color: #c1b2b2;
}
#signup-btn{
    padding: 0.55rem 2.2rem;
    background-color: #1a493b;
    color: #f3f3f3;
    border-radius: 15px;
}
h3 {
    font-size: 2rem;
}
.footer {
    background: black;
    color: wheat;
    padding-top: 50px;
    text-align: center;
    height: 50px;
}